@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Body styles */
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

/* Game container styles  */
.game-container {
  position: relative;
  margin: 0px;
  background-color: #000000;
  display: flex;
  width: 100%;
  height: 100vh;
}

@keyframes movingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hidden-header {
  font-size: 0.1px;
  visibility: hidden;
}

/* Main menu styles */
#main-menu {
  padding: 90px 0px;
  background: linear-gradient(
    -45deg,
    #000000,
    #170000,
    #000000,
    #000000,
    #001b01,
    #000000
  );
  background-color: #000000;
  background-size: 400% 400%;
  animation: movingGradient 60s ease infinite;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100vh;
}

.main-menu-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 38;
  background-color: #000000e6;
}

.main-menu-inner-container {
  margin: 0px 20px;
  padding-bottom: 20px;
}

.logo-section,
.introduction-section,
.game-modes-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

.logo-section {
  margin: 0px;
}

.game-modes-container {
  height: 100%;
  gap: 0.8rem;
  flex-direction: row;
  margin-top: 30px;
}

.game-modes-container h3 {
  font-size: 2rem;
  position: relative;
  margin-top: 20px;
}

.main-menu-logo {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.introduction-section h1 {
  font-size: 1.8rem;
}

.introduction-section h1,
.introduction-section p {
  margin: 0px;
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
  padding: 0px 20px;
}

.menu-high-score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu-high-score {
  text-align: center;
  color: white;
  margin: 0px;
  margin-top: 21px;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  color: rgb(250, 255, 161);
}

#how-to-play-btn {
  font-weight: 600;
  cursor: pointer;
  border-radius: 80px;
  border: 2px solid white;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  margin-top: 22px;
  padding: 12px 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#how-to-play-btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

#how-to-play-container {
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  background: linear-gradient(
    -45deg,
    #001b01,
    transparent,
    #170000,
    transparent,
    #001b01,
    transparent
  );
  background-color: #000000;
  background-size: 400% 400%;
  animation: movingGradient 40s ease infinite;
  z-index: 40;
}

.how-to-play-first-half {
  width: 90%;
}

.how-to-play-second-half {
  width: 110%;
}

.how-to-play-first-half,
.how-to-play-second-half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#close-how-to-play {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.how-to-play-first-half h3 {
  color: white;
  font-size: 2rem;
}

.how-to-play-second-half h3 {
  color: white;
  font-size: 2rem;
  margin: 0px;
  margin-bottom: -8px;
}

.how-to-play-first-half p {
  margin-top: -10px;
  padding: 0px 70px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.keyboard-shortcuts-container {
  padding: 20px;
}

.keyboard-shortcuts-container table {
  text-align: center;
  color: white;
  border-collapse: collapse;
  width: 100%;
}

.keyboard-shortcuts-container th,
.keyboard-shortcuts-container td {
  font-weight: 500;
  border: 2px solid white;
  padding: 12px;
}

.keyboard-shortcuts-container th {
  color: white;
}

.game-modes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.random-mode {
  border-radius: 10px 0px 0px 10px;
  background: url(../images/randommode/snapchat.webp) center/cover no-repeat;
}

.random-mode:before {
  border-radius: 10px 0px 0px 10px;
}

.fans-mode {
  background: url(../images/fansmode/manchester-united.webp) center/cover
    no-repeat;
}

.market-cap-mode {
  border-radius: 0px 10px 10px 0px;
  background: url(../images/money.webp) center/cover no-repeat;
}

.market-cap-mode:before {
  border-radius: 0px 10px 10px 0px;
}

.random-mode,
.fans-mode,
.market-cap-mode {
  transform: scale(1);
  position: relative;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  width: 320px;
  height: 440px;
  transition: transform 0.2s ease;
}

.random-mode:before,
.fans-mode:before,
.market-cap-mode:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.random-mode p,
.fans-mode p,
.market-cap-mode p {
  position: relative;
  z-index: 3;
  text-align: center;
  padding: 0px 15px;
}

.random-mode:hover,
.fans-mode:hover,
.market-cap-mode:hover {
  border-radius: 12px;
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.8);
  z-index: 7;
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.random-mode:hover:before {
  border-radius: 10px;
}

.fans-mode:hover:before {
  border-radius: 10px;
}

.market-cap-mode:hover:before {
  border-radius: 10px;
}

.random-mode h2,
.fans-mode h2,
.market-cap-mode h2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.859);
  padding: 4px 13px;
  font-size: 1.7rem;
  position: relative;
  z-index: 4;
  border-radius: 30px;
}

.main-menu-credits-container {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu-credits-container p {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.main-menu-credits-container i {
  font-size: 2.3rem;
  margin-left: 5px;
  color: white;
}

.main-menu-credits-container i:hover {
  color: rgb(29, 165, 24);
}

/* Fail screen styles */
#fail-screen {
  background: black center/cover no-repeat;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 30;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
}

#gif-display {
  background: black center/cover no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 30;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
}

#gif-display:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

#fail-screen h3 {
  font-size: 1.5rem;
}

#failed-at-score {
  font-weight: 600;
  margin: 0px;
  font-size: 5rem;
}

#congrats-message {
  font-size: 1.1rem;
  text-align: center;
}

.fail-screen-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#failed-screen-play-again,
#failed-screen-main-menu {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 15px 60px;
  border-radius: 60px;
  border: 2px solid white;
  background-color: transparent;
  font-weight: 600;
  color: rgb(250, 255, 161);
}

#failed-screen-main-menu {
  margin-top: 9px;
}

#failed-screen-play-again:focus,
#failed-screen-main-menu:focus {
  background-color: transparent;
  color: white;
}

.socials {
  margin-top: 20px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#fail-screen .copyright {
  font-size: 1.1rem;
  font-style: italic;
}

.socials i {
  color: white;
}

.socials i:hover {
  color: #1da518;
  cursor: pointer;
}

.socials i:nth-of-type(1) {
  font-size: 2.4rem;
}

.socials i:nth-of-type(2) {
  font-size: 2.4rem;
}

.pop-up-logo {
  margin-top: -20px;
  width: 170px;
  height: 170px;
}

.pop-up-info-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Game screen styles */
.logo {
  position: absolute;
  z-index: 20;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.logo:hover {
  cursor: pointer;
}

.logo img:hover + .return-hint {
  opacity: 1;
}

.logo img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.return-hint {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  width: 200px;
  padding: 5px 0px;
  border-radius: 50px;
  position: absolute;
  z-index: 20;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s ease;
}

.overlay-green {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  background-color: rgba(38, 209, 0, 0.12);
  transition: opacity 0.5s ease-out;
}

.overlay-red {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.14);
  transition: opacity 0.5s ease-out;
}

.overlay-green.visible,
.overlay-red.visible {
  opacity: 1;
}

#correct-answer {
  box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #1da518;
  visibility: hidden;
  opacity: 0;
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out,
    visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#wrong-answer {
  box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ab1d1d;
  visibility: hidden;
  opacity: 0;
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out,
    visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

#correct-answer.show,
#wrong-answer.show {
  visibility: visible;
  opacity: 1;
}

.fa-check,
.fa-xmark {
  color: white;
  font-size: 2rem;
}

#first-half,
#second-half {
  background: url("") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -2;
}

#first-half h2,
#second-half h2 {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin: 0px;
  margin-top: 20px;
}

#first-half p,
#second-half p {
  color: white;
  font-size: 1.2rem;
  margin: 5px;
}

#first-half-title-volume,
#second-half-title-volume {
  background-color: rgba(0, 0, 0, 0.607);
  border-radius: 70px;
  padding: 4px 25px;
  padding-bottom: 6px;
  font-family: "Lato", sans-serif;
  color: rgb(250, 255, 161);
  font-size: 5rem;
  letter-spacing: 1px;
  font-weight: 700;
}

#higher-btn,
#lower-btn {
  color: rgb(250, 255, 161);
  font-size: 1.3rem;
  font-weight: 600;
  padding: 15px 80px;
  border-radius: 80px;
  margin-top: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

#lower-btn {
  margin-bottom: 10px;
}

#higher-btn:hover {
  transform: scale(1.02);
  border: 2px solid #0ecb00;
  box-shadow: 0 0 30px rgba(14, 203, 0, 0.8);
  color: white;
  transition: all 0.1s ease-in-out;
}

#lower-btn:hover {
  transform: scale(1.02);
  border: 2px solid #d20000;
  box-shadow: 0 0 30px rgba(210, 0, 0, 0.8);
  color: white;
  transition: all 0.1s ease-in-out;
}

#higher-btn:active,
#lower-btn:active {
  color: rgb(250, 255, 161);
}

.hide-btn {
  visibility: hidden;
  font-size: 0px;
  padding: 0px;
  margin: 0px;
}

.score-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
  border-radius: 50px;
  position: absolute;
  left: 10px;
  bottom: 17px;
  color: red;
}

#first-half .score-container p {
  padding: 0px 15px;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 3px;
}

#first-half .score-container p span {
  font-size: 1.2rem;
}

.first-half-credit-container {
  position: absolute;
  bottom: 25px;
  right: 12px;
}

.second-half-credit-container {
  position: absolute;
  bottom: 25px;
  right: 15px;
}

.game-high-score {
  position: absolute;
  bottom: 0px;
  left: 12px;
  margin-top: 8px;
  text-align: center;
  width: 140px;
  color: white;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 20;
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  color: white;
}

#image-owner-link-1,
#image-owner-link-2 {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}

/* Styles for screen size height smaller than 780px */
@media screen and (max-height: 780px) {
  #main-menu {
    height: 125vh;
  }
}

/* Styles for screen size width smaller than 1138px */
@media screen and (max-width: 1138px) {
  /* Main menu styles */
  #main-menu {
    padding-top: 80px;
    height: 175vh;
    padding-bottom: 100px;
  }
  .game-modes-container {
    flex-direction: column;
    margin-top: 30px;
  }
  .random-mode,
  .fans-mode,
  .market-cap-mode {
    margin: 0px auto;
    width: 100%;
    height: 290px;
  }
  .random-mode:hover,
  .fans-mode:hover,
  .market-cap-mode:hover {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0);
  }
  .random-mode {
    border-radius: 10px 10px 0px 0px;
  }
  .random-mode:before {
    border-radius: 10px 10px 0px 0px;
  }
  .market-cap-mode {
    border-radius: 0px 0px 10px 10px;
  }
  .market-cap-mode:before {
    border-radius: 0px 0px 10px 10px;
  }
  #how-to-play-container {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0%, 0%);
    border-radius: 0px;
    height: 130%;
    width: 100%;
    flex-direction: column;
  }
  .how-to-play-first-half,
  .how-to-play-second-half {
    width: 100%;
  }
  .how-to-play-first-half {
    margin-bottom: 40px;
  }
  /* Game screen styles */
  #first-half-title-volume,
  #second-half-title-volume {
    font-size: 4rem;
  }
  .logo img {
    width: 90px;
    height: 90px;
  }
  .return-hint {
    top: 80px;
  }
}

/* Styles for screen size width smaller than 930px */
@media screen and (max-width: 930px) {
  /* Game container styles  */
  .game-container {
    flex-direction: column;
    height: 100vh;
  }
  /* Main menu styles  */
  .game-modes-container {
    flex-direction: column;
    margin-top: 30px;
  }
  .random-mode:hover,
  .fans-mode:hover,
  .market-cap-mode:hover {
    transform: scale(1);
  }
  /* Game screen styles  */
  .logo img {
    width: 80px;
    height: 80px;
  }
  .logo img:hover + .return-hint {
    opacity: 0;
  }
}

/* Styles for screen size width smaller than 786px */
@media screen and (max-width: 786px) {
  /* Main menu styles  */
  #main-menu {
    height: 170vh;
  }
  .game-modes {
    flex-direction: column;
    margin: 0px 25px;
  }
  .random-mode:before,
  .fans-mode:before,
  .market-cap-mode:before {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .main-menu-credits-container p {
    font-size: 1.05rem;
  }
  .main-menu-credits-container i {
    font-size: 2.7rem;
  }
  #how-to-play-container {
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .how-to-play-first-half h3 {
    font-size: 1.7rem;
  }
  .how-to-play-first-half p {
    padding: 0px 20px;
  }
  .how-to-play-second-half {
    display: none;
  }
  /* Fail screen styles  */
  #gif-display:before {
    background-color: rgba(0, 0, 0, 0.6);
  }
  /* Game screen styles  */
  #first-half,
  #second-half {
    height: 80%;
  }
  #first-half h2,
  #second-half h2 {
    font-size: 2.3rem;
  }
  #first-half-title-volume,
  #second-half-title-volume {
    font-size: 3rem;
  }
  #higher-btn:hover {
    transform: scale(1);
    border: 2px solid white;
    box-shadow: 0 0 30px rgba(14, 203, 0, 0);
    color: #faffa1;
  }

  #lower-btn:hover {
    transform: scale(1);
    border: 2px solid white;
    box-shadow: 0 0 30px rgba(210, 0, 0, 0);
    color: rgb(250, 255, 161);
  }
  #first-half p,
  #second-half p {
    font-size: 1rem;
  }
  #correct-answer,
  #wrong-answer {
    width: 70px;
    height: 70px;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .second-half-credit-container {
    bottom: 15px;
  }
  .game-high-score {
    bottom: -10px;
  }
  .score-container {
    bottom: 10px;
  }
  .first-half-credit-container {
    bottom: 15px;
  }
}

/* Styles for screen size width smaller than 786px */
@media screen and (max-width: 500px) {
  /* Main menu styles  */
  #main-menu {
    height: 190vh;
  }
  .introduction-section h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .menu-high-score {
    font-size: 1.4rem;
  }
  #how-to-play-btn {
    font-size: 1rem;
    padding: 10px 12px;
  }
  /* Game screen styles  */
  #first-half h2,
  #second-half h2 {
    font-size: 1.6rem;
  }
  #first-half-title-volume,
  #second-half-title-volume {
    font-size: 2.2rem;
  }
}
